.Navigation{
    display: flex;
    justify-content: center;
    
}
.Logo{
    text-decoration: none;
    padding-right: 1000px;
}
.ItemsNav li{
    display:inline-block;
    text-decoration: none;
}

.ItemsNav li a{
    display: flex;
    justify-content: space-between 100px;
    text-decoration: none;
    color: rgb(200, 0, 255);
}

.ItemsNav li a:hover{
    color: rgba(25, 0, 255, 0.561);
}

.ItemsNav ul a{
    text-decoration: none;
    display: inline-block;
    justify-content: space-around 100px;
}

.FooterMenuItems li a{
    display: flex;
    text-decoration: none;
}

body {
    justify-content: flex;
    
}

nav{
    background-color: aqua;
}
footer {
    background-color: aqua;
    
}



.FooterMenuItems{
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    margin-left: 500px;
    margin-right: 500px;
}

.Facebook a{
    text-decoration: none;
    
}

a:hover{
    color: rgba(0, 8, 255, 0.291);
}


