.Navigation{
    display: flex;
    justify-content: center;
    
}
.Logo{
    text-decoration: none;
}
.ItemsNav li{
    display:inline-block;
    text-decoration: none;
}

.ItemsNav li a{
    display: flex;
    justify-content: space-between 100px;
    text-decoration: none;
    color: rgb(200, 0, 255);
}

.ItemsNav ul a{
    text-decoration: none;
    display: flex;
    justify-content: space-around 100px;
}

.FooterMenuItems li a{
    display: flex;
    text-decoration: none;
}




