{% load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    
    <title>{% block title %}  {% endblock title %} | Title</title>
</head>
    <body>
        <nav class = Navigation>
            <a href="/" class= Logo>Coaching Pro</a>
            <ul class = ItemsNav>
                <li><a href="{% url 'core:contact' %}">Contact</a></li>
                
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'appointment:new_appointments' %}">RDV</a></li>
                <li><a href="{% url 'core:logout' %}">Logout</a></li>
                {% if request.user.is_staff %}
                <li><a href="{% url 'appointment:appointments' %}">All Appointments</a></li>
                <ul>
                    <a href="{% url 'appointment:appointment_detail' 2 %}">Notes</a>
                    <a href="{% url 'appointment:add_note' 2 %}">Add Notes</a>
                </ul>

                {% endif %}
                {% else %}
                
                <li><a href="{% url 'core:signup' %}">Sign Up</a></li>
                <li><a href="{% url 'core:login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class = BaseContent>
        {% block content %}

        {% endblock content %}
        </div>
        <footer class=Footer>
            <div class=FooterInfo>

                <ul class=FooterMenuItems>
                    <li><a href="{% url 'core:contact' %}">Contact</a></li>
                    <li><a href="/">A Propos</a></li>
                    <li><a href="{% url 'core:signup' %}">Sign Up</a></li>
                </ul>
        </footer>
    </body>
</html>