{% extends 'core/base.html' %}

{% block title %}
Contact
{% endblock title %}



{% block content %}

        
<div>

    <div>
        <h2>Me Contacter</h2>
        <ul> 
            <li> Télephone : 0326458549</li>
            <li> Mail : CoachSportif@Develepoment.com </li>
            <li class='Facebook'>  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Facebook</a></li>
            <li class='Facebook'>  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Linkedin</a></li>
            
        </ul>
    </div>
</div>
        




{% endblock content %}
