{% extends 'core/base.html' %}

{% block title %}
Welcome
{% endblock title %}



{% block content %}
<div class=NewItemsDisplay>
    <h3 class=FooterInfoTitle>Mon Activité</h3>
                <p class=FooterText>{% lorem 1 b random %}</p>
    <h2 class=TitleNewItems>Services</h2>
    <ul>
        <li>
            <h4> Remise en forme</h4>
            {% lorem 1 b random %}
        </li>
    
        <li>
            <h4> Confiance en Soi</h4>
            {% lorem 1 b random %}
        </li>
        <li>
            <h4> Buisness Coaching</h4>
            {% lorem 1 b random %}
        </li>
    </ul>
    
</div>
<div class=NewItemsDisplay>
    <h2 class=TitleNewItems>Retours Clients</h2>
    <div class=GridItems>
        <ul>
            <li>
                <h4> </h4>
                {% lorem 1 b random %}
            </li>
            <li>
                <h4> Julien</h4>
                {% lorem 1 b random %}
            </li>
            <li>
                <h4> Chloé</h4>
                {% lorem 1 b random %}
            </li>
        </ul>
        
    </div>
</div>



{% endblock content %}

